#balanceTextSub {
	/*display: none !important;*/
}

#signup {
	background:#000; 
	color:#fff; 
	padding:16px;
	font-family: Arial, Verdana;
	font-size: 13px;
	text-align: center;
}

#popup_shell {
	position:absolute; 
	width:100%; 
	z-index:5000;
	top:180px;
}

#signup_container {
	width:500px; 
	height:500px; 
	color:#000; 
	margin: auto; 
	top:200px;
}